* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #0f172a;
  color: #e5e7eb;
  line-height: 1.6;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  background: #020617;
}

.navbar a {
  color: #e5e7eb;
  text-decoration: none;
  margin-left: 20px;
}

.navbar a:hover {
  color: #38bdf8;
}


.hero {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero span {
  color: #38bdf8;
}

.btn {
  margin-top: 20px;
  padding: 10px 20px;
  background: #38bdf8;
  color: #020617;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}


section {
  padding: 60px 10%;
}

.about, .contact {
  background: #020617;
}


.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  gap: 20px;
  margin-top: 30px ;
  justify-content: left;
}

.card {
  background: #020617;
  padding: 20px;
  border-radius: 8px;
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}


footer {
  text-align: center;
  padding: 20px;
  background: #020617;
  font-size: 14px;
}